
.containerPlans{
  margin-top: 10%;
  h2{
    margin-bottom: 3%;
  }
}

.wrapperPlanCards{
  width: 100%;
  display: flex;
  .planCards{
    width: 50%;
  }
}

.cardContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
  max-width: 250px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
  
  span{
    color: #767676;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.cardActive{
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.32);
  transition: all 200ms ease-in-out;
  border: 1px solid #000;
  span{
    color: #000;
  }
}