.main{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  .containerAside{
    width: 400px;
    height: 90%;
    border-radius: 20px;
    background: linear-gradient(180deg, #272570 0%, rgba(40, 181, 164, 0.62) 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      .containerStep{
        display: flex;
        align-items: center;
        gap: 10px;
        .bullet{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px 20px;
          border: 2px solid #fff;
          border-radius: 50%;
          color: #fff;
        }
        .bulletActive{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px 20px;
          border: 2px solid #fff;
          border-radius: 50%;
          color: #fff;
          background-color: #5AD7FF;
        }

        .stepInfo{
          .stepNumber{
            color: #5AD7FF;
            font-size: 0.875rem;
          }
          .stepName{
            color: #FFF;
            font-size: 1rem;
            font-weight: 500;

          }
        }
      }
    }
  }

  .containerForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 510px;

    .titlePlans{
      color: #05235F;
      font-size: 1.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .subtitlePlans{
      color: #05235F;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  
  
    form{
      display: flex;
      flex-direction: column;
      gap: 20px;

      label{
        display: flex;
        flex-direction: column; 
        color: #272570;
        font-weight: 400;
        font-size: 1rem;

        input{
          height: 40px;
          padding:0 10px;
          border: 1px solid #c6c6c6;
          border-radius: 5px;
        }
      }

      div{
        display: flex;
        gap: 10px;
        label{
          input{
            width: 250px;
          }
        }
      }

      button {
        width: 100%;
        max-width: 120px;
        padding: 15px;
        cursor: pointer;
        background-color: #272570;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        border-radius: 5px;
        transition: all 200ms ease-in-out;
        &:hover{
          background-color:darken($color: #272570, $amount: 10);
        }
      }

    }
  }
}