.main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
}
.main .containerAside {
  width: 400px;
  height: 90%;
  border-radius: 20px;
  background: linear-gradient(180deg, #272570 0%, rgba(40, 181, 164, 0.62) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .containerAside div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.main .containerAside div .containerStep {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main .containerAside div .containerStep .bullet {
  width: 30px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border: 2px solid #dddddd;
  border-radius: 50%;
  color: #dddddd;
}
.main .containerAside div .containerStep .bulletActive {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  background-color: #5AD7FF;
}
.main .containerAside div .containerStep .stepInfo .stepNumber {
  color: #73bbd3;
  font-size: 0.875rem;
}
.main .containerAside div .containerStep .stepInfo .stepName {
  color: #c2c2c2;
  font-size: 1rem;
  font-weight: 500;
}
.main .containerAside div .containerStep .stepActive .stepName {
  color: #FFF;
}
.main .containerAside div .containerStep .stepActive .stepNumber {
  color: #5AD7FF;
}
.main .containerForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 510px;
}
.main .containerForm .titlePlans {
  color: #05235F;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main .containerForm .subtitlePlans {
  color: #05235F;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .containerForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .containerForm form label {
  display: flex;
  flex-direction: column;
  color: #272570;
  font-weight: 400;
  font-size: 1rem;
}
.main .containerForm form label input {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
}
.main .containerForm form div {
  display: flex;
  gap: 10px;
}
.main .containerForm form div label input {
  width: 250px;
}
.main .containerForm form button {
  width: 100%;
  max-width: 120px;
  padding: 15px;
  cursor: pointer;
  background-color: #272570;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.main .containerForm form button:hover {
  background-color: #1a184a;
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
    gap: 2%;
    max-width: 90vw;
  }
  .main .containerAside {
    width: 100%;
  }
  .main .containerAside div {
    gap: 10px !important;
  }
  .main .containerAside div .containerStep .bullet {
    width: 30px;
    height: 30px;
    padding: 5px 10px;
  }
  .main .containerAside div .containerStep .bulletActive {
    padding: 5px 10px;
    border: 2px solid #fff;
  }
  .main .containerAside div .containerStep .stepInfo .stepNumber {
    font-size: 0.675rem;
  }
  .main .containerAside div .containerStep .stepInfo .stepName {
    font-size: 0.875rem;
    font-weight: 500;
  }
  .containerForm form div {
    flex-direction: column;
  }
  .containerForm form div label input {
    width: 100% !important;
  }
}/*# sourceMappingURL=page.module.css.map */